<div class="all-social-links ">
 <ul class="social-networks bounce">
    <li><a href="https://www.linkedin.com/in/amanda-branquinho-26a21595/" class="icon-linkedin" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/Manditahbranqui" class="icon-twitter" target="_blank">Twitter</a></li>
    <li><a href="https://www.facebook.com/amanda.branquinho.3" class="icon-facebook" target="_blank">Facebook</a></li>
    <li><a href="https://github.com/branquinhoaa" class="icon-github" target="_blank">GitHub</a></li>
    <li><a href="https://instagram.com/branquinhoa" class="icon-instagram" target="_blank">Instagram</a></li>
  </ul>
</div>