@import "normalize";
@import "rouge-github";

/*colors*/

$titles: #8C5A67;
$links: #BF8FAA;
$text: #272B40;
$background: #D9D9D9;
$border: #8C857B;

/* SOCIAL MEDIA LINKS */

.all-social-links {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-right:0;
  max-width: 100px;
  position:relative;
  top: -142px;
  right: -38px;
}

@font-face {
  font-family: 'icomoon';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
    url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    margin-bottom: 10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      background-color: #1f2027;
      transition: all 400ms;
    }

    &:after {
      position: relative;
      display: block;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #fff;
      font-size: 26px;
      line-height: 66px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
  
  &.spin-icon a:hover:after, &.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
  }
  
  &.square a:hover:before, &.square a:focus:before {
    border-radius: 0;
  }
  
  &.bounce a:hover, &.bounce a:focus {
    animation: bounce 1s;
  }
  
  $networks: linkedin '\eac9' #0077b5, facebook '\e603' #3b5998, twitter '\e618' #00b0ed, github '\eab1' #4183c4, instagram '\e604' #3f729b, vimeo '\ea9c' #1ab7ea, twitch '\ea9b' #6441a5, pinterest '\e605' #cc2127;
  
  @each $network in $networks {
     .icon-#{nth($network, 1)} {
       &:after {
         content: '#{nth($network, 2)}';
      }

      &:hover:before, &:focus:before {
        background: nth($network, 3);
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

/* Extra stuff just to make the demo pretty. */
body {
  padding: 0;
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  background: #262730 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png) repeat 0 0;
}

h1 {
  margin-bottom: 0px;
  font-size: 55px;
  line-height: 1.0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 45px;
  font-size: 12px;
  text-transform: uppercase;
}

footer {
  margin: 75px 0 35px;
}

a {
  color: #4183c4;
  text-decoration: none;
  
  &:hover {
    color: lighten(#4183c4, 15%);
  }
}
/* LAYOUT STYLES */


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: $text;
  background: $background url(../images/body-bg.jpg) 0 0 repeat;
}

p {
  margin-top: 0;
}

a {
  color: $links;
}
a:hover {
  color: $titles;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: $titles url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px $border;
  width: 100%;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: $background;
  width: 100%;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: $background;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
  text-align: justify;
}

#content-wrapper {
  padding-top: 30px;
  border-top: solid 1px $background;
}

#main-content {
  float: left;
  width: 690px;
}

#main-content img {
  max-width: 100%;
}

aside#sidebar {
  float: right;
  width: 200px;
  min-height: 504px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.3;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#row-social-media{
  display: none;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: $links;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: $text;
}

code {
  padding: 0 3px;
  background-color: $text;
  border: solid 1px $border;
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  background: $background;
  border: solid 1px $border;
}
pre code {
  padding: 0;
  color: $text;
  background-color: $background;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: solid 1px $links;
}

table {
  width: 100%;
  border: 1px solid $border;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid $border;
}

form {
  padding: 20px;
  background: $background;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  font-weight: normal;
  color: $titles;
  text-indent: 6px;
  letter-spacing: -1px;
}

#main-content h1:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: $border;
}

#main-content h2 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  color: $titles;
  text-indent: 4px;
}
#main-content h2:before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  color: $border;
}

#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: $titles;
  text-indent: 3px;
}

#main-content h3:before {
  padding-right: 0.3em;
  margin-left: -2em;
  color: $border;
}

#main-content h4 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: $titles;
  text-indent: 3px;
}

h4:before {
  padding-right: 0.3em;
  margin-left: -2.8em;
  content: "////";
  color: $border;
}

#main-content h5 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: $titles;
  text-indent: 3px;
}
h5:before {
  padding-right: 0.3em;
  margin-left: -3.2em;
  content: "/////";
  color: $border;
}

#main-content h6 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: $titles;
  text-indent: 3px;
}
h6:before {
  padding-right: 0.3em;
  margin-left: -3.7em;
  content: "//////";
  color: $border;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-left: 10px solid $border;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
    background-color: lighten($border, 30%);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 13px;
}

footer a {
  color: $links;
}
footer a:hover {
  color: $titles;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}


.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

.img-rounded{    
  background: transparent url(../images/avatar.jpg) 0 0 no-repeat;
  background-size: 220px 258px;
  position: relative;
  top: -172px;
  border-radius: 49%;
  height: 254px;

}




/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
    content: none;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {

  aside#sidebar{
    display: none;
  }

#row-social-media{
  display: flex;
  .social-networks{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    a{
      width:56px;
      height:58px;
    }
    }
  }

  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: $links;
    text-align: center;
    background-color: $background;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button small {
    display: inline;
    font-size: 13px;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    min-height: 0;
    padding: 20px 0;
    margin-top: 20px;
    background-image: none;
    border-top: solid 1px $border;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
    content: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
